@charset "UTF-8";


/* login-modal CSS */

.modal-dialog {
	margin-top: 15%;
	max-width: 400px;
}

.modal-body .btn-cancel {
	width: 100%;
	margin-top: 1%;
}

#login-fail-text, #nickname-fail-text {
	color: red;
	visibility: hidden;
}

/* logout-modal CSS */

.logout-body {
	padding: 0 20% 10% 20%;
	display: inherit;
}

.logout-body .logout {
	margin: 0 0 0 1%;
}

.logout-text {
	padding: 5% 0;
}

#logout-btn, .logout-form {
	width: 100%;
}

.modal-body .form-group {
	margin: 0;
}

/* security-login.jsp */

.security-login {
	margin: 0 auto;
	padding: 5% 10%;
}

.security-login .btn-cancel {
	width: 100%;
	margin-top: 1%;
} 

/** depoist-modal CSS*/

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}