@charset "UTF-8";

/* header CSS */

.cassynav ul .time-li {
	font-size: 32px;
	margin-bottom: 25px;
	vertical-align: middle;
}

#investNav ul a:hover {
	color: #70c745;
}

body .PreProjctSector01 {
	width: 100%;
	height: 60%;
	position: relative;
}

#investNav {
	height: 11%;

}

.index-slider-text-title {
	position: absolute;
	z-index: 1;
	color: black;
	font-size: 28px;
	top: 170;
	margin-left: 30px;
}

.navText{
	color: rgba(0,0,0,84);
    font-weight: 1000;
}

.index-slider-text-content {
	position: absolute;
	z-index: 1;
	color: black;
	font-size: 18px;
	top: 220;
	margin-left: 30px;
}

@media (min-width: 1200px) {
	body .container {
		width: 100%;
	}
}

#countTime {
	font-family: "Dosis", sans-serif;
}

#searchIcon:hover {
	cursor: default;
}

/* footer CSS */

.footer-logo img {
	display: inline-block;
}

.footer-logo p {
	display: inline-block;
}

.widget-title .pt-20 {
	margin-top: 0;
	font-weight: 400;
	font-size: 16px;
}

/* login-modal CSS */

.modal-dialog {
	margin-top: 15% !important;
	max-width: 400px !important;
}

.modal-body .btn-cancel {
	width: 100%;
	margin-top: 1%;
}

#login-fail-text, #nickname-fail-text, #menual-fail-text {
	color: red;
	visibility: hidden;
}

#menual-fail-text {
	font-size: 24px;
}

#login-cancel, #login-bt {
	width: 49.4%;
	display: inline-block;
	margin: 0;
}

/* logout-modal CSS */

.logout-body {
	padding: 0 17% 10% 17% !important;
	display: inherit;
}

.logout-text {
	padding: 5% 0;
}

#logout-btn, .logout-form {
	width: 100%;
}

.modal-body .form-group {
	margin: 0;
}

.logout-body .logout, #logout-bt {
	width: 49.1%;
	display: inline-block;
	margin: 0;
}

/* nickname-modal CSS */

.form-group label h4 {
	 display: inline-block;
}

#nickname-bt {
	margin-top: 4%;
}

/* deposit-menual-modal CSS */

input[type="checkbox"] {
	width: 5%;
}

.dropdown div label {
	margin-left: 28%;
	display: block;
}

#menual-form {
	padding: 3% 8% 0 8%;
}

#menual-form > div > div {
	padding: 3% 10% 3% 10%;
}

#menual-form h4 {
	display: inline-block;
}

#deposit-menual-bt {
	margin-top: 5%;
}

.menual-container {
	border: 1px solid #dddfe1;
}

.menual-cancel-bt {
	padding: 0 8% 2% 8%;
}

#deposit-menual-modal .deposit-menual-modal-dialog {
	max-width: 900px !important;
	margin-top: 1% !important;
}

#deposit-menual-modal .modal-content {
	max-height: 100%;
    overflow-y: auto;
}

.dropdown-content div h5 {
	text-align: center;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

/* deposit Modal CSS */

#regForm {
  background-color: #ffffff;
  margin: 50px auto 5px auto;
  width: 70%;
  min-width: 300px;
}

.modal-content .modal-body .deposit-cancel {
	width: 82%;
}

.deposit-body {
	margin-bottom: 5%;
}

/* Style the input fields */

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */

.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #4CAF50;
}

/* index CSS */

.product-img a img {
	height: 300px;
}

#rankingList a:hover {
	color: #70c745 !important;
}

.fadeInUp:hover {
	color: #70c745 !important;
} 

ol > li > em {
	height: 8%;
}

.top-row {
	margin-botom
}
/* shop CSS */

#shop-sec {
	padding: 0;
}

/* shopDetail CSS */

.shop-slide-row {
	padding: 0;
	width: 1440px;
	height: 90%;
	margin: 0 auto;
}

.single_product_details_area {
	margin: 0 auto;
}

#graph {
	width: 40.7%;
	margin: 30px 0;
}

.products--meta {
	margin: 2.5% 0 0 10.5%; 
}

.shop-products--meta {
	margin: 1.5% 0 0 10.5%; 
}

.produts-details--content .shop-detail-inform-area {
	border-top: 1px solid #ebebeb;	
}

/* myPage CSS */

.card-area {
	margin: 0 auto;
	display: inherit;
}

.card-inform {
	width: 30rem;
	margin: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

#uploadBtn {
	width: 100%;
	margin-top: 4%;
	padding: 10px 0;
}

#upload-input {
	margin-top: 6%;
}

.profile-img {
	box-shadow: 0px 1px 3px 0px #D2D2D2;
	margin-top: 10%;
	width: 180px;
	height: 150px;
}

.profile-row {
	margin: 0 auto;
}

.mypage-bottom {
	margin: 0 auto;
}

.about-us-area {
	margin-bottom: 5%;
}

.my-deposit-inform {
	margin: 0 auto;
}

#send-date-btn {
	width: 10%;
	display: inline-block;
	vertical-align: bottom;
	padding: 0.4% 0;
}

.my-graph {
	width: 100% !important;
}

/* preShopDetails CSS */

.navText:hover {
  	color: black;
  	text-decoration: none;
}

/* about CSS */

.our-services-area .col-md-10 {
	background-color: white;
	margin: 0 auto;
	box-shadow: 1px 3px 0px #D2D2D2;
	border-color: #DADADA;
}

.guide-box {
	padding: 0 100px 40px 50px;
}

.qna-guide {
	padding: 16px 0;
	border-bottom: 1px #dcdcdc dashed;
	color: #707070;
}

.qna-guide:hover {
	cursor: pointer;
}

.qna-guide p {
	display: inline-block;
	margin: 0;
}

.qna-num {
	color: #6300CC;
	font-weight: 700;
}

.qna-dot {
	color: #400090;
	font-weight: 700;
	letter-spacing: 2px;
	opacity: 0.3;
	margin: 0 2px !important;
}

.guide-box .dropdown-guide {
	background-color: white;
	box-shadow: none;
	padding: 16px 29px;
	border-bottom: 1px #dcdcdc dashed;
}

.guide-inform {
	font-weight: 400;
	padding: 40px 0 20px 0;
}

.guide-inform p {
	font-size: 22px;
	margin: 0;
}

.guide-box .nav li a {
	font-size: 22px;
}

.guide-category {
	display: inline-block;
	float: left;
	background-color: white;
	padding: 0 20px 0 0;
	width: 120px;
}

.guide-detail {
	padding: 20px 0;
}

.guide-detail:hover {
	cursor: pointer;
	color: #6300CC;
}

#deposit-area {
	border-bottom: 1px solid #dddfe1;
}

/* admin CSS */

.admin-logout {
	padding: 0.2% 1%;
}

.admin-modal-dialog {
	max-width: 800px !important;
} 

/* userEvaluate CSS */
#user-Eval #detailModal {
	margin-top: 5% !important;	
}

/* popup을 위한 css */

#popup-message-login-success, 
#popup-message-logout-success, 
#popup-message-create-deposit-success,
#popup-message-change-profile-success,
#popup-message-deposit-success {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #7971ea;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    font-size: 17px;
}

#popup-message-login-success.show, 
#popup-message-logout-success.show, 
#popup-message-create-deposit-success.show,
#popup-message-change-profile-success.show,
#popup-message-deposit-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

a.active {
	color: #70c745 !important;
}

a:hover {
	cursor: pointer;
}