<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keb.atic.userProject.mapper.UserProjectMapper">

	<select id="createUserProject">
	
	</select>
	
	<select id="readUserProject" resultType="com.keb.atic.userProject.domain.UserProject">
	
	</select>
	
	<select id="userProjectListAll" resultType="com.keb.atic.userProject.domain.UserProject">
	
	</select>
	
	<select id="readUserProjectsByUser" resultType="com.keb.atic.userProject.domain.UserProject">
	
	</select>
	
	<select id="readUserProjectsByProject" resultType="com.keb.atic.userProject.domain.UserProject">
	SELECT id, 
       deposit, 
       user_id, 
       project_id,
       create_date 
	FROM   at_user_project 
	WHERE  project_id = #{project_id}
	</select>
	
	<select id="countOfInvestor" resultType="int">
	SELECT count(*)
	FROM   at_user_project 
	WHERE  project_id = #{project_id}
	</select>

	<delete id="deleteUserProjectByCondition" parameterType="Map">
	
	</delete>

	<update id="updateUserProject">
	
	</update>
</mapper>