<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keb.atic.project.mapper.ProjectMapper">

	<select id="createProject">
	
	</select>
	<select id="readProject" resultType="com.keb.atic.project.domain.Project">
	
	</select>
	
	<select id="readProjectsByCondition"  parameterType="map" resultType="com.keb.atic.project.domain.Project">
	
	</select>
	
	<select id="projectListAll"  resultType="com.keb.atic.project.domain.Project">
	
	</select>
	
	<delete id="deleteProject" >
	
	</delete>

	<update id="updateProject">
	
	</update>
</mapper>