<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keb.atic.user.mapper.UserMapper">

	<select id="createUser">
	
	</select>
	<select id="readUser" resultType="com.keb.atic.user.domain.User">
	
	</select>
	<select id="userListAll" resultType="com.keb.atic.user.domain.User">
	
	</select>
	<delete id="deleteUser" >
	
	</delete>
	<select id="certifyBankUser" resultType="com.keb.atic.user.domain.BankUser">
	
	</select>
	<update id="updateUser">
	
	</update>
</mapper>